{{> header.html}}
<h2>{{profile.firstName}} {{profile.lastName}}</h2>
<div id="details">
  Current City: {{profile.currentCity}}
</div>
<div id="posts">
  <h2>Wall</h2>
  <form action="/posts/" method="POST">
    <input type="hidden" name="post[username]" value="{{profile.username}}"/>
    <div class="field"><textarea name="post[text]"></textarea></div>
    <div><input type="submit" value="Post"/></div>
  </form>
  <ol id="posts">
    {{#posts}}
    <li>
      {{> posts/post.html }}
    </li>
    {{/posts}}
  </ol>
  {{^profile.posts}}
  {{/profile.posts}}
</div>
{{> footer.html}}
