<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>FriendStar</title>
	<link rel="stylesheet" type="text/css" href="/style.css"/>
</head>
<body>
<h1>Friends List for {{firstName}} {{lastName}}</h1>
<div id="friendRequests">
  <h2>Friend Requests</h2>
  <ol>
    {{#friendRequests}}
    <li>{{firstName}} {{lastName}}</li>
    {{/friendRequests}}
  </ol>
</div>
<div id="friends">
  <h2>Friends</h2>
  <ol>
    {{#friends}}
    <li>{{firstName}} {{lastName}}</li>
    {{/friends}}
  </ol>
</div>
</body>
</html>
