{{> header.html}}
<div id="friendRequests">
  <h2>Friend Requests</h2>
  <ol>
    {{#friendRequests}}
    <li><a href="/profiles/{{username}}">{{firstName}} {{lastName}}</a></li> <a 
	href="/friends/{{username}}" data-method="post">Accept</a>
    {{/friendRequests}}
    {{^friendRequests}}
    No pending friend requests.
    {{/friendRequests}}
  </ol>
</div>
<div id="friends">
  <h2>Friends</h2>
  <ol class="results">
    {{#friends}}
    <li>
      <a href="/profiles/{{username}}">{{firstName}} {{lastName}}</a>
      <small><a href="/friends/destroy/{{username}}" data-method="post">unfriend</a></small>
    </li>
    {{/friends}}
    {{^friends}}
    You have zero friends. Use the search bar above to find some!
    {{/friends}}
  </ol>
</div>
{{> footer.html}}
