<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>FriendStar</title>
	<link rel="stylesheet" type="text/css" href="/style.css"/>
</head>
<body>
<h1>Friends List for {{firstName}} {{lastName}}</h1>
<div id="friends">
  <h2>Friends</h2>
  <ol>
    {{#friends}}
    <li><a href="/profiles/{{username}}">{{firstName}} {{lastName}}</a></li>
    {{/friends}}
    {{^friends}}
    {{firstName}}'s has no friends or they are private.
    {{/friends}}
  </ol>
</div>
</body>
</html>
