<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>FriendStar</title>
	<link rel="stylesheet" type="text/css" href="/style.css"/>
</head>
<body>
  <h1>$profile.firstName$ $profile.lastName$</h1>
  <nav><a href="/profiles/edit/$profile.profileId$">Edit</a></nav>
  <div id="details">
    Current City: $profile.currentCity$
  </div>
  <div id="posts">
    <h2>Wall</h2>
    <ol>
       $profile.posts:{ post |
       <li>$post.postText$</li>}$
    </ol>
  </div>
</body>
</html>
