@import url(http://fonts.googleapis.com/css?family=Chivo:900);

body {
  font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
  font-size: 11px;
  line-height: 18px;
  max-width: 800px;
  margin: 0 auto;
}

header {
  padding: 3px;
  padding-bottom: 10px;
  color: #fff;
  background-color: #3b5998;
}

hgroup {
  float: left;
  width: 500px;
}

header h1 {
  font-family: "Chivo", sans-serif;
  font-size: 40px;
}

header h1 a {
  color: white;
  text-decoration: none;
}

header h2 {
  font-family: "Helvetica", verdana, arial, sans-serif;
  font-size: 20px;
}

header nav a {
  color: #d8dfea;
  text-decoration: none;
}

header nav {
  float: left;
}
header nav  ul {
  list-style-type: none;
  padding-left: 10px;
}
header nav ul li {
  margin-left: 3px;
  margin-right: 3px;
  font-weight: bold;
  display: inline-block;
}

header form#search_form {
  width: 95%;
  clear: both;
  text-align: right;
  padding-right: 100px;
}

header form#search_form input[type="search"] {
  width: 200px;
}

div#content {
  clear: both;
}

ol#posts {
  list-style-type: none;
  padding-left: 0px;
}

ol#posts li {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

ol#posts li div.post_text {
  font-size: 14px;
}

ol#posts li div.post_details {
  text-align: right;
}

form {
  width: 400px;
}

form div.field label {
  display: block;
  float: left;
  width: 100px;
}

form div.field input {
  display: block;
  width: 100%;
  height: 25px;
}

form div.field textarea {
  display: block;
  width: 350px;
  height: 75px;
  resize: none;
}

form input[type="submit"] {
  margin-left: 100px;
  width: 150px;
}

div.field, div.actions {
  margin-bottom: 10px;
}

a {
  color: blue;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
#error_explanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
}

#error_explanation ul li {
    font-size: 12px;
    list-style: square;
}
